body{
color:magenta;
background-color: floralwhite;
margin: 0px;
}
header{
border-bottom:solid 2px antiquewhite;
padding: 20px;
font-size:32px;
color:deeppink;
}
 section{
 background: palevioletred;
padding-bottom:80px;
padding-top:80px;
 display:flex;
 justify-content: center;
 }